<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imiliya Market</title>
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" href="/imgs/bazaar-logo.png" style="border-radius: 20px;">
</head>
<body>
    <header>
        <div class="logo">
            <div class="layer">
                <input type="text" id="search" placeholder="Search...">
                <div id="suggestions"></div>
            
            </div>
        </div>
    </header>
    <hr>

    <main>
        <div class="items-cart">
            
        </div>
    </main>
    <footer>
        <div class="contact-info">
            <p>Name: Sandeep Khanal</p>
            <p>Email: xtry122@gmail.com</p>
            <p>Age: 15</p>
            <p>School: Shree Secondary Imiliya</p>
        </div>
    </footer>
    <script src="scripts/dashboard.js"></script>
    
</body>
<script>
  window.addEventListener('load', () => {
    registerSW();
  });

  async function registerSW() {
    if ('serviceWorker' in navigator) {
      try {
        await navigator.serviceWorker.register('/service-worker.js'); // Use absolute path
        console.log('SW registered successfully');
      } catch (e) {
        console.log('SW registration failed:', e);
      }
    }
  }
</script>

</html>